<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    <a href="/">home</a>-->
<!--    <a href="/java">java</a>-->
<!--    <a href="/test">test</a>-->
<!--    <h1>hi</h1>-->
<!--    <h2 th:text="${student.name}"></h2>-->
    <form method="post" action="/">
        <input type="text" name="name"/>
        <input type="text" name="age"/>
        <input type="submit" value="추가"/>
    </form>
    <div th:each="stu : ${list}" style="border: 1px solid red">
        <h2 th:text="${stu.name}"></h2>
    </div>
</body>
</html>